{% extends 'users/base.html' %}
{% load static %}

{% block title %}Dashboardome | WeConnect App{% endblock title %}

{% block header %}
  {% if messages %}
    <div class="alert {% if messages.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}" role="alert">
      {% for message in messages %}
        <p class="text-center">{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endblock header %}

{% block all_content %}
    <h5>Your Services</h5>

    {% if services %}
      <div class="pagination-wrapper">
        <div class="pagination">
          <span class="step-links">
            {% if services.has_previous %}
              <a href="?page={{ services.previous_page_number }}"><i class="fa-solid fa-arrow-left"></i></a>
            {% endif %}

            {% if services.has_next %}
              <a href="?page={{ services.next_page_number }}"><i class="fa-solid fa-arrow-right"></i></a>
            {% endif %}
          </span>
        </div>
      </div>
  
      <div class="container text-center">
        <div class="row">
          {% for service in services %}
            <div class="col">
              <a href="{% url 'services:service_details' service.id %}">
                <div class="card mb-2" style="width: 15rem;">
                  <img src="{{ service.picture.url }}" class="card-img-top service_image" alt="...">
                  <div style="display: flex; flex-grow: 1; justify-content: space-between; align-items: center;">
                    <img src="{{ service.user.profile_pics.url }}" alt="Profile Picture" style="width: 40px; height: 40px; border-radius: 50%; margin-right: 10px;">
                    <h6 class="card-subtitle text-body-secondary">{{ service.user.user.username}}</h6>
                    <h6 class="card-subtitle text-body-secondary">Level {{ service.user.level }}</h6>        
                  </div>
                  <div class="card-body">
                    <h6 class="card-title">{{ service.title }}</h6>
                    <div style="display: flex; justify-content: space-between;">
                      <h6 class="card-subtitle text-body-secondary text-start">{{ service.user.user.username}}</h6>
                      <h6 class="card-subtitle text-body-secondary text-end">{{ service.user.level }}</h6>
                    </div>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <p>No Service Content </p>
    {% endif %}

{% endblock all_content %}
