{% extends 'users/base.html' %}
{% load static %}

{% block title %}Home | WeConnect App{% endblock title %}

{% block header %}
  {% if messages %}
    <div class="alert {% if messages.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}" role="alert">
      {% for message in messages %}
        <p class="text-center">{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endblock header %}

{% block all_content %}
    <h2>Welcome to the home page</h2>

    <div id="services-container">
      
    </div>

    <!-- Next and Previous buttons -->
    <button id="prev-btn">Previous</button>
    <button id="next-btn">Next</button>
{% endblock all_content %}

{% block js %}
  <script src="{% static 'js/getServices.js' %}"></script>
  <script src="{% static 'js/countCharacters.js' %}"></script>
{% endblock js %}
