{% extends 'users/base.html' %}

{% block title %}Profile Page{% endblock title %}

{% block header %}
  <h2 class="text-center">Profile - {{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</h2>
  {% if messages %}
    <div class="alert {% if messages.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}" role="alert">
      {% for message in messages %}
        <p class="text-center">{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endblock header %}

{% block content %}
  <div class="text-center mb-3">
    <img src="{{ user_profile.profile_pics.url }}" class="profile-pics" alt="profile-pics">
  </div>
  <ul class="list-group">
    <li class="list-group-item"><strong>Group: </strong>{{ user_profile.i_am_a }}</li>
    <li class="list-group-item"><strong>Email: </strong>{{ user_profile.user.email }}</li>
    <li class="list-group-item"><strong>First Name: </strong>{{ user_profile.user.first_name }}</li>
    <li class="list-group-item"><strong>Last Name: </strong>{{ user_profile.user.last_name }}</li>
    <li class="list-group-item"><strong>Username: </strong>{{ user_profile.user.username }}</li>
    <li class="list-group-item"><strong>Gender: </strong>{{ user_profile.gender }}</li>
    <li class="list-group-item"><strong>Phone Number: </strong>{{ user_profile.phone_number }}</li>
    <li class="list-group-item"><strong>Marital Status: </strong>{{ user_profile.marital_status }}</li>
    <li class="list-group-item"><strong>Occupation: </strong>{{ user_profile.occupation }}</li>
    <li class="list-group-item"><strong>Address:  </strong>{{ user_profile.address }}</li>
    <li class="list-group-item"><strong>Bio:  </strong>{{ user_profile.bio }}</li>
  </ul>
<a class="btn btn-outline-primary" role="button" href="#">Update Profile</a>
{% endblock content %}