{% extends 'users/base.html' %}

{% block title %}Add New User Group{% endblock title %}

{% block header %}
  <h2 class="text-center">User Group Form</h2>
  {% if messages %}
    <div class="alert {% if messages.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}" role="alert">
      {% for message in messages %}
        <p class="text-center">{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endblock header %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}

    <div class="input-group mb-3">
      <span class="input-group-text">
        <i class="fa-solid fa-user-group"></i>
      </span>
      <input type="text" name="group_name" class="form-control" placeholder="Enter The Group Name" required>
    </div>

    <button type="submit" class="btn btn-success">Create Group</button>
  </form>
{% endblock content %}