.image-style {
  max-width: 200px;
  max-height: 200px;
}

#characterCount {
  color: red;
}

.profile-pics {
  border-radius: 50%;
  width: 200px;
  height: 200px
}

.seller-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.seller-avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.seller-info {
  flex: 1;
  margin-left: 20px;
}

.seller-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.seller-title {
  font-size: 1.2rem;
  color: #666;
}

.seller-description {
  margin-top: 10px;
  color: #333;
}

.seller-stats {
  display: flex;
  margin-top: 20px;
}

.stat {
  flex: 1;
  text-align: center;
}

.stat-number {
  font-size: 1.2rem;
  font-weight: bold;
}

.stat-label {
  color: #666;
}

.contact-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: #0056b3;
}

.service_image {
  height: 200px; /* You can adjust this value as needed */
  object-fit: cover; /* This ensures the image covers the entire container while preserving aspect ratio */
}

h5 .card-title {
  font-size: 16px;
}

.row > * {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.pagination-wrapper {
  display: flex;
  justify-content: flex-end;
}

a#category_link {
  text-decoration: none !important;
}
#btn_link:hover {
  background-color: black;
}
a#category_link:hover {
  color: #fff;
}